# Treat all files .cshtml files as C# files
dotnet-app/Views/**/*.cshtml linguist-language=csharp

# Mark all files .js as vendored (excluded from language statistics)
**/*.js linguist-vendored
**/*.css linguist-vendored
Dockerfile linguist-vendored